//--------------------------------------------------------------------
// Beginning of styling code
$selection-border-color: lightgrey;

body,
html {
  width: 100%;
  font-family: 'Open Sans', 'Roboto', 'Calibri', 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  height: 50px;
  font-size: 0.8rem;
  flex-wrap: nowrap;
  border-bottom: 2px solid $selection-border-color;

  .title-container {
    display: flex;
    height: 100%;

    .title-text {
      white-space: nowrap;
      height: 50px;
      display: flex;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 1rem;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav-menu {
    display: flex;
    height: 100%;

    .menu-link {
      height: 50px;
      text-decoration: none;
      background-color: #e6e6e6;
      color: black;
      padding: 0 1rem;
      border-bottom: 2px solid $selection-border-color;
      line-height: 50px;

      &:hover {
        border-color: black;
        cursor: pointer;
      }

      &.active {
        background-color: $selection-border-color;
        border-color: transparent;
      }

      // &:active {
      // }
    }
  }

  .nav-social {
    margin-left: auto;
    margin-right: 0.5rem;

    .menu-social {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      border-bottom: 2px solid transparent;

      img {
        height: 20px;
        width: 20px;
        filter: grayscale(100%);
      }

      &:hover img {
        filter: none;
      }

      &.facebook:hover {
        border-color: rgb(59, 89, 152);
      }

      &.instagram:hover {
        border-color: rgb(205, 72, 107);
      }

      &.linkedin:hover {
        border-color: rgb(72, 117, 180);
      }
    }
  }
}

nav,
ul,
li,
a {
  display: flex;
  letter-spacing: 0.5px;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* ------ MAIN CONTENT ------ */

/* ------ INDEX CONTENT ------ */

#index main {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    margin: 5px 0;

    .work-img {
      background-color: white;
      flex-grow: 0;
      width: 300px;
      height: 300px;
      padding: 15px;
      border: 1px solid $selection-border-color;
      margin: 5px;

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}

/* ------ ABOUT CONTENT ------ */

#about main {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    margin: 5px auto;

    .container-image {
      width: calc(30%);

      .about-img {
        width: 100%;
      }
    }

    .container-text {
      width: calc(30%);
      margin: 0 0 0 5px;
    }
  }
}

/* ------ FOOTER CONTENT ------ */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #e6e6e6;
  border-top: 2px solid $selection-border-color;

  a {
    display: flex;
    align-items: center;
    color: black;
    line-height: 50px;
    font-size: 0.8rem;
    padding: 0 1rem;
    border-top: 2px solid transparent;

    &:hover {
      border-color: black;
    }
  }
}